*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  text-align: center;
  font-family: sans-serif;
}

h1,
h2,
h3,
h4 {
  margin: 0.2em auto 0.4em;
}

h1 {
  letter-spacing: 0.3em;
}

h3 {
  font-size: 28px;
}

a,
button {
  outline: none;
}

a,
a:hover,
a:visited {
  color: inherit;
  text-decoration: none;
}

a.active {
  color: white;
  font-weight: bold;
}

.container {
  max-width: 1100px;
  margin-inline: auto;
}

/* Header/Footer */
.header,
.footer {
  background-color: hsl(213, 22%, 26%);
  min-height: 100px;
  padding-block: 20px;
  color: hsl(213, 22%, 50%);
}

.header a:not(.active):hover,
.footer a:not(.active):hover {
  text-decoration: underline;
  color: white;
}

.header .container,
.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logo {
  width: 250px;
}

.header a {
  margin-inline: 15px;
}

/* Main */
.main-content {
  padding-block: 20px;
}

/* Articles */
.article {
  width: 80%;
  margin: 20px auto;
  padding-top: 20px;
  border-top: 1px solid hsl(213, 22%, 26%);
}

.article p {
  color: #505050;
}

.article button {
  margin-block: 0.8em;
  padding: 0.5em;
  text-transform: uppercase;
  background-color: hsl(213, 22%, 26%);
  color: white;
  border: none;
  border-radius: 0.3em;
}

/* Aside */
.side-content {
  position: fixed;
  top: 30vh;
  right: 150px;
  transform: translateY(-50%);
}

.side-content a {
  display: block;
  margin: 20px auto;
  padding: 15px;
  background-color: hsl(213, 22%, 26%);
  border-radius: 5px;
}

.side-content svg {
  width: 50px;
  fill: white;
}

/* Form */
label,
input {
  display: block;
  margin: 5px auto;

  outline: none;
}

input {
  margin-bottom: 15px;
}

input.error {
  border: 2px solid red;
}

form button {
  margin: 15px;
  padding: 0.5em;
  background-color: hsl(213, 22%, 26%);
  color: white;
}

/* Footer */
.footer .container {
  justify-content: center;
}

.menu-footer a {
  margin-inline: 15px;
}
